body{
    background: #F6F6f6;

}

header{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.header_container{
    max-width: 1224px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.header_logo{
    margin-top: 25px;
    margin-left: 20px;
   
}
.header_search-form{
    margin-left: calc(50px + (60.99 - 49.96) * ((100vw - 375px)/(1224 - 375)));
    margin-right: calc(50px + (60 - 50) * ((100vw - 375px)/(1224 - 375)));
    margin-bottom: 0px;
    margin-top: 20px;
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 763px;
    height: 40px;
    border: 1px solid #EBEBF1;
    box-sizing: border-box;
    border-radius: 5px;
}
.search{
    background: none;
    outline: none;
    border: none;
}

.header_form_search_btn{
    background: url("../asset/img/search.png") no-repeat;
    height: 16px;
    width: 16px;
    margin: 12px 9px 12px 14px;
}
.header_profile_icon{
    display: none;
}
.header_profile{
    display: flex;
    align-items: center;
    border-left:1px solid #EBEBF1 ;
    border-top: 0px;
    margin-right: 20px;

}
.header_profile>a{
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin: 0px 10px;
    margin-left: 19px;
    color: #768298;
}

.header_profile>img{
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 10px;
    
}

/*section*/
section{
    background: #F6F6f6;
    
}
.section_container{
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;

}
.section_flex{
    display: flex;
    flex-direction: column;
    margin: 0px 28px;
}
.section_title{
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: calc(28px + (36 - 28) * ((100vw - 375px)/(1440 - 375)));  
    text-transform: uppercase;
    color: #121920;
    margin: 70px 0px 0px 0px;
}

.section_frame{
    display: flex;
    flex-wrap: wrap;
}

.section_frame_link{
    background: #FFFFFF;
    border: 1px solid #EBEBF1;
    box-sizing: border-box;
    border-radius: 5px;
    /* width: calc(229px + (270 - 229) * ((100vw - 375px)/(1224 - 375))); */
    width: calc(32.6% - 120px);
    cursor: url(../asset/img/cursor.png),pointer;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    margin: 30px 30px 0px 0px;
    margin-right: calc(20px + (30 - 20) * ((100vw - 375px)/(1440 - 375)));
    padding: 0px 18px;
}

.section_frame_link>img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

@media (max-width:790px) {
    .section_frame_link{
    width: calc(229px + (270 - 229) * ((100vw - 375px)/(1224 - 375)));
    margin-right: calc(20px + (30 - 20) * ((100vw - 375px)/(1224 - 375)));
    }
    .section_frame_link{
    width: 25%;
}
}

@media (max-width:900px) {
    .section_frame_link{
    width: calc(32% - 20px);
}
}

@media (max-width:640px) {
    .header_logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 17px;

    }
    .header_profile{
        display: none;
    }
    .header_profile_icon{
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 21px;
    }
    
    
    .header_container{
        flex-direction: column;
        width: 100%;
        height: 105px;
    }

    .header_search-form{
        margin: 0px;
        width: 100%;
    }
}

@media (max-width:640px) {
    .section_frame_link{
        width: calc(46% - 20px);
}
}

@media (max-width:400px) {
    .section_frame_link{
        width: calc(98% - 20px);
}
}